*{
  font-family: 'Happy Monkey', cursive;
}

h1{
  text-align: center;
  padding-top: 30px;
}

.cards-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  padding: 5px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.yes{
  color: green;
}

.no{
  color: red;
}

.Green{
  border: 1px solid  green;
}

.Red{
  border: 1px solid red;
}